html, body {
    padding: 0;
    margin: 0;
  }
  
  input {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
  }
  
  body {
    background-color: #BBB;
    font-family: Helvetica, sans-serif;
    padding-bottom: 100px;
  }
  h1 {text-align: center;background-color: #ccb9da;}
  h2, h3 {
    margin: 0 0 .75em 0;
  }
  
  /* first example */
  /*PARENT*/
   .column-layout {
    max-width: 1300px;
    background-color: #FFF;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;
    display: flex;
  }
  /*FLEX02 exercise, plese insert the CSS codes here*/
  /*CHILD*/
  .main-column {
   flex: 4;
   order:2;
  }
  
  .sidebar-one {
   flex: 2;
   order: 1;
  }
  
  .sidebar-two {
   flex: 2;
   order: 3;
  }
  /*end FLEX02*/
  /* second example */

  .equal-height-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
  }
  
  .first {
    background-color: #FFF;
    padding: 20px;
    
  }
  
  .second {
    background-color: yellow;
   
  }
  
  .second-a {
    background-color: #c0dbe2;
    display: flex;
    flex-direction: column;
  }
  
  .second-b {
    background-color: #cdf1c3;
    display: flex;
    flex-direction: row;
  }