body{
    width: 90%;
    max-width: 900px;
    margin: 2em auto;
    font: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    border-radius: 50px;
    padding: 10px;
    background-color: rgb(207, 232,220);
}
header h1{
    position: relative;
    text-align: center;
}
footer{
    border-radius: 5px;
    background-color: yellow;
}
aside{background-color: beige; padding: 1em;}
/* GRID */

.container{
    /*parent*/
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 20px;
}
header{
    grid-column: 1/span 4;
    grid-row: 1;
}
nav{
    grid-column: span 4;
    grid-row: 2;
}
article{
    grid-column: 1/span 2;
    grid-row: 3;
}
aside{
    grid-column: 3 /span 2;
    grid-row: 3;
}
footer{
    grid-row: 4;
    grid-column: span 4;
}

